body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* Banner IceFox */
.banner {
  height: 130px;
  width: 100%;
}

/* For Infinite List Loading */
.demo-loading {
  position: absolute;
  bottom: -40px;
  left: 50%;
}

/* For Carousel */
.ant-carousel .slick-slide {
  text-align: center;
  height: 300px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.carousel {
  height: 130px;
  width: 100%;
  object-fit: cover;
}